*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.lets{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}
.da{
    border-radius: 90px;
    padding: 8px 20px;
    background-color: rgb(226,49,49) ;
    color: white;
    border: none;
}
.da a{
    text-decoration: none;
    color: white;
    
    
}
.container input {
    border: none;
    outline: none;
    background-color: #f0f0f8;
    color: black;
    padding: 10px 10px;
    border-radius: 50px;
    font-size: 15px;
  }
.container .pic, .fa-bars, input{
    display: none;
}
.da a:hover{
    text-decoration: none;
}
.ba{
    border-radius: 50px;
    padding: 12px 15px;
    border: none;
}
.ba:hover{
    border: 2px solid black;
}

@media (max-width: 576px) {
    .me{
        display: none;
    }
    .da{
        display: none;
    }
    .me li{
        display: none;
    }
    input{
        display: flex;
    }
}
@media (max-width: 1120px) {
    .container .picture, .da, .ba{
        display: none;
    }
    .container .pic {
        display: flex;
    } 
    .container input {
        display: block;
    } 
    .container .fa-bars {
        display: flex;
    } 
       
}
  

.me a:hover{
    text-decoration: underline;
    color: rgb(226,49,49);
}
.charis{
    width: 88%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
    padding: 100px 10px;
}

.charis h1{
    font-size: 58px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.charis p{
    margin: 20px 0;
    font-size: 18px;
}
.charis button{
    border: none;
    padding: 15px 35px;
    border-radius: 50px;
    background-color: rgb(226,49,49);
    color: white;
    font-size: 18px;
    font-weight: 700;
}
.charis button:hover{
    text-decoration: none;
    color: white;
    border: 2px solid rgb(226,49,49);
}
.charis a{
    text-decoration: none;
    color: white;
}
@media (max-width: 2560px) {
    .charis{
        width: 60%;
    }
    
}
@media (max-width: 1440px) {
    .charis{
        width: 85%;
    }  
}
@media (max-width: 1024px) {
    .charis{
        width: 90%;
    }
    .charis h1{
        font-size: 40px;
    }
}
@media (max-width: 960px) {
    .charis{
        display: block;
        width: 80%;
    } 
    
}
@media (max-width: 425px) {
    .charis{
        width: 90%;
        margin: 0 auto;
    }
    .charis h1{
        font-size: 40px;
    } 
}
@media (max-width: 513px) {
    .navbar{
        background-color: firebrick;
    } 
}
.secondpage{
    width: 88%;
    margin: 40px auto;

}
.second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    margin: 50px 0px;
    width: 88%;
}
.first p{
    color: #67676E;
}

.sechild h3{
    color: #212529;
    font-size: 20px;
}
.sechild a{
    color: #67676E;
    font-size: 20px;
}
.sechild a:hover{
    color: rgb(226,49,49);
    text-decoration: none;
}
.fir a{
    color: rgb(226,49,49);
}
.fir a:hover{
    color: rgb(226,49,49);
    text-decoration: none;
}
@media (max-width: 2560px) {
    .secondpage{
        width: 60%;
    }
}
@media (max-width: 1440px) {
    .secondpage{
        width: 85%;
    } 
}
@media (max-width: 879px) {
    .second{
        display: block;
        margin: 10px 0;
    } 
}
    @media (max-width: 768px) {
        .secondpage{
            width: 88%;
        } 
        .second{
            width: 100%;
        }
        .sechild{
            
        } 
    }
.thirdpage{
    width: 88%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}
.thirdpage h3{
    font-size: 18px;
    color: #67676E;
    letter-spacing: 3px;
}
.thirdpage h2{
    color: #29292C;
    font-size: 43px;
    font-weight: 700;
}
.thirdpage p{
    color: #494A51;
    font-size: 20px;
}
.thirdpage a{
    color: rgb(226,49,49);
    font-size: 20px;
}
.thirdpage a:hover{
    text-decoration: none;
}
@media (max-width: 2560px) {
    .thirdpage{
        width: 60%;
    }
}
@media (max-width: 1440px) {
    .thirdpage{
        width: 85%;
    }
}
@media (max-width: 900px) {
    .thirdpage img{
        width: 300px;
    }
}

@media (max-width: 800px) {
    .thirdpage{
        display: block;
    }
}
@media (max-width: 768px) {
    .thirdpage{
        width: 88%;
    } 
}    
.fourthpage{
    width: 88%;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}
.fourthpage h3{
    font-size: 18px;
    color: #67676E;
    letter-spacing: 3px;
}
.fourthpage h2{
    color: #29292C;
    font-size: 43px;
    font-weight: 700;
}
.fourthpage p{
    color: #494A51;
    font-size: 19px;
    margin: 30px 0;
}
.fourthpage a{
    color: rgb(226,49,49);
    font-size: 20px;
}
.fourthpage a:hover{
    text-decoration: none;
}
@media (max-width: 2560px) {
    .fourthpage{
        width: 60%;
    }
}
@media (max-width: 1440px) {
    .fourthpage{
        width: 85%;
    }
}
@media (max-width: 800px) {
    .fourthpage{
        display: block;
    }
    @media (max-width: 768px) {
        .fourthpage{
            width: 88%;
        } 
    }    
}
.fifthpage{
    width: 88%;
    margin: 100px auto;
}
.fifthpage h3{
    font-size: 18px;
    color: #67676E;
    letter-spacing: 3px;
}
.fifthpage h2{
    color: #29292C;
    font-size: 43px;
    font-weight: 700;
}

.fifg{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 8px;
    row-gap: 10px;
    margin: 40px 0;
}
.fifg p{
    font-size: 19px;
    gap: 20px;
    margin: 20px 0;
}
.fifg a{
    color: rgb(226,49,49);
    font-size: 20px;
}
.fifg a:hover{
    text-decoration: none;
}
@media (max-width: 2560px) {
    .fifthpage{
        width: 60%;
    }
}
@media (max-width: 1440px) {
    .fifthpage{
        width: 85%;
    }
}
@media (max-width: 768px) {
    .fifthpage{
        width: 88%;
    } 
}    
@media (max-width: 575px) {
    .fifg{
        display: block;
    }
}
@media (max-width: 425px) {
    .fifg img{
        width: 350px;
    }
}
.barry{
    background-color: rgb(240,240,248);
}
.containe{
    padding: 100px 100px;
}
.quote__text p{
    font-size: 24px; 
}
.quote{
    width: 800px;
}
.quote__author{
    display: flex;
    align-items: center;
    gap: 10px;
}
.quote__details{
    display: flex;
    justify-content: space-between;
}
.quote__details a{
    text-decoration: underline;
    color: rgb(226,49,49);
    font-size: 18px;
}
.quote__details a:hover{
    text-decoration: none;
    color: rgb(226,49,49);
}

@media (max-width: 2560px) {
    .quote{
        width: 800px;
        margin: 0 400px;
    }
}
@media (max-width: 2300px) {
    .quote{
        width: 800px;
        margin: 0 350px;
    }
}
@media (max-width: 1800px) {
    .quote{
        width: 800px;
        margin: 0 250px;
    }
}

@media (max-width: 1440px) {
    .quote{
        width: 800px;
        margin: 0 10px;
    }
}
@media (max-width: 768px) {
    .quote{
        width: 600px;
        margin: 0 -70px;
    }
    .containe{
        width: 100%;
    }
    .quote__details{
        display: block;
        gap: 10px;
    }
}
@media (max-width: 425px) {
    .quote{
        width: 200px;
        margin: 0 -70px;
        
    }
    .quote__text{
        width: 350px;
    }
    .containe{
        width: 20px;
        background-color: rgb(240,240,248);
    }
    
}
@media (max-width: 375px) {
    .quote{
        width: 300px;
        margin: 0 -70px;
        
    }
    .containe{
        width: 300px;
        background-color: rgb(240,240,248);
    }
    
}
.seventh{
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 100px auto;
    gap: 100px;
}
.seventh h3{
    font-size: 18px;
    color: #67676E;
    letter-spacing: 3px;
}
.seventh h2{
    color: #29292C;
    font-size: 40px;
    font-weight: 700;
}
.seventh a{
    color: rgb(226,49,49);
    font-size: 20px;
}
.seventh a:hover{
    text-decoration: none;
}
@media (max-width: 2560px) {
    .seventh{
        width: 60%;
    }
}
@media (max-width: 1440px) {
    .seventh{
        width: 85%;
    }
}
@media (max-width: 800px) {
    .seventh{
        display: block;
    }
}
.eight{
    display: flex;
    justify-content: space-between;
    width: 88%;
    margin: 100px auto;
    gap: 70px;
}
.eight h3{
    font-size: 18px;
    color: #67676E;
    letter-spacing: 3px;
}
.eight h2{
    color: #29292C;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}
.eight a{
    color: rgb(226,49,49);
    font-size: 20px;
}
.eight a:hover{
    text-decoration: none;
}
.eight p{
    font-size: 19px;
    gap: 20px;
    margin: 40px 0;
}
@media (max-width: 2560px) {
    .eight{
        width: 60%;
    }
    .next{
       width: 800px;
       margin-left: -100px;
    }
}
@media (max-width: 1440px) {
    .eight{
        width: 85%;
    }
    .next{
       width: 600px;
       margin-left: -100px;
    }
}
@media (max-width: 1024px) {
    .eight{
        width: 90%;
    }
    .next{
       width: 400px;
       margin-left: -100px;
    }
}
@media (max-width: 800px) {
    .eight{
        display: block;
    }
    .next{
        width: 400px;
        margin: 0 10px;
     }
}
@media (max-width: 425px) {
    
    .next{
        width: 350px;
        
     }
}
.pagenine{
    margin: 150px auto;
    width: 88%;
}
.and h3{
    color: #29292C;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
}
.and h2{
    font-size: 16px;
    color: #67676E;
    letter-spacing: 3px;
}
.purpose{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 50px;
    row-gap: 90px;
    margin: 70px 0;
}
.purpose p{
    font-size: 19px;
    gap: 20px;
    margin: 20px 0;
}
.purpose a{
    color: rgb(226,49,49);
    font-size: 20px;
}
.purpose h4{
    color: #29292C;
    font-size: 25.92px;
}
.purpose a:hover{
    text-decoration: none;
}
@media (max-width: 2560px) {
    .pagenine{
        width: 66%;
    }
}
@media (max-width: 1440px) {
    .pagenine{
        width: 88%;
    }
}
@media (max-width: 800px) {
    .purpose{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        
    }
}
@media (max-width: 576px) {
   
    .purpose{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 80px;
    }
    .purpose{
        width: 500px;
    }
}
@media (max-width: 425px) {
    .purpose{
        width: 350px;
    }
}
.pageten{
    background-color: rgb(240,240,248);
}
.insideone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 65px;
    width: 88%;
    margin: 0 auto;
    padding: 100px 0;
}
.insideone h3{
    font-size: 18px;
    color: #67676E;
    letter-spacing: 3px;
}
.insideone h2{
    color: #29292C;
    font-size: 44px;
    font-weight: 700;
}
.insideone p{
    font-size: 20px;
    margin: 40px 0;
}
.insideone a{
    text-decoration: underline;
    color: rgb(226,49,49);
    font-size: 20px;
}
.insideone a:hover{
    text-decoration: none;
}
@media (max-width: 2560px) {
    .insideone{
        width: 70%;
    }
}
@media (max-width: 1440px) {
    .insideone{
        width: 85%;
    }
}
@media (max-width: 1024px) {
    .insideone{
        width: 95%;
    }
}
@media (max-width: 800px) {
    .insideone{
        display: block;
        block-d
        margin: 0 auto;
        width: 95%;
    }
}
@media (max-width: 425px) {
    .pageten{
        width: 390px;
        background-color: rgb(240,240,248);
    }
    .insideone img{
        width: 350px;
        height: 200px;
    }
}
.pageeleven{
    background-color: rgb(224,49,49);
}
.what{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    width: 88%;
    margin: 0 auto;
    padding: 70px 0;
}
.what h2{
    font-size: 35px;
    color: white;
}
.what button{
    padding: 8px 35px;
    font-size: 20px;
    background-color: white;
    border-radius: 40px;
    border: none;
}
.what a{
    text-decoration: none;
    color: rgb(226,49,49);
}
@media (max-width:2560px) {
    .what{
        width: 70%;
    }
}
@media (max-width: 1440px) {
    .what{
        width: 85%;
    }
    .what h2{
        font-size: 33px;
    }
    
    }
    
@media (max-width: 1156px) {
    
    .what h2{
        font-size: 38px;
        width: 700px;
    }
    .what button{
        width: 250px;
    }
    }
    @media (max-width: 1024px) {
    
        .what{
            width: 900px;
        }
        .what h2{
            font-size: 33px;
        }
        }
        @media (max-width: 982px) {
    
            .pageeleven{
                width: 100%;
                background-color: rgb(226,49,49);
            }
            .what{
                width: 850px;
                
            }
            .what h2{
                font-size: 30px;
                width: 800px;
            }
            .what button{
                margin: 10px 100px;
            }

            }
        @media (max-width: 786px) {
            
            .what{
                width: 700px;
                margin: 0 auto;
            }
            .what h2{
                font-size: 30px;
            }
            .what button{
                margin: 10px 20px;
            }
            }
            @media (max-width: 703px) {
            
                .what{
                    display: block;
                    margin: 0 auto;
                }
                
                }
                @media (max-width: 786px) {
            
            .what{
                width: 700px;
                margin: 0 auto;
            }
            .what h2{
                font-size: 30px;
            }
            .what button{
                margin: 10px 20px;
            }
            }
            @media (max-width: 703px) {
            
                .what{
                    display: block;
                    margin: 0 auto;
                }
                
                }
                @media (max-width: 425px) {
            
                    .pageeleven {
                        width: 390px;
                        margin: 0px auto;
                        overflow: hidden;
                    }
                    .what h2{
                        width: 390px;
                        margin: 0 7px;
                    }
                    .what button{
                        width: 170px;
                    }
                    }
                    @media (max-width: 375px) {
            
                        .pageeleven {
                            width: 350px;
                    }
                    
                    }
                    .pagetwelve{
                        background-color: rgb(41,41,44);
                    }
                    .dagrin{
                        display: grid;
                        grid-template-columns: repeat(3, 1fr);
                        line-height: 0.8;
                        
                    }
                    .dagrin a{
                        color: rgb(255,245,235);
                        font-size: 18px;
                    }
                    .dagrin a:hover{
                        text-decoration: none;
                        color: rgb(226,49,49);
                    }
                    .dag{
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        padding: 80px 80px;
                        row-gap: 100px;
                        column-gap: 120px;
                        margin: 0 auto;
                        
                    }
                    .dag p{
                        color: rgb(181,170,164);
                    }
                    
                    .laslas a{
                        text-decoration: underline;
                        color: rgb(181,170,164);
                        
                    }
                    .laslas a:hover{
                        text-decoration: none;
                        color: rgb(181,170,164);
                    }
                    @media (max-width:2560px) {
                        .dag{
                            width: 78%;
                        }
                    }
                    @media (max-width:1440px) {
                        .dag{
                            width: 98%;
                        }
                    }
                    @media (max-width:1024px) {
                        .dag{
                            width: 99%;
                        }
                    }
                    @media (max-width:890px) {
                        .dag{
                            display: grid;
                            grid-template-columns: 1fr;
                        }
                    }
                    @media (max-width:768px) {
                        .dag{
                            width: 700px;
                            margin: 0 -50px;
                            overflow: hidden;
                        }
                    }
                    @media (max-width:480px) {
                        
                        .dagrin{
                           display: grid;
                           grid-template-columns: 1fr;
                           row-gap: 15px;
                        }
                    }
                    @media (max-width:425px) {
                        .dag{
                            width: 420px;
                        }
                       
                    }









